.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
cmake/**/CMake*
cmake/**/.generated/*
!cmake/**/user.cmake
_build/

# build files
/build/
/*.o
*.elf
*.bin

# IDE and OS junk
.vscode/
.DS_Store
*.swp

# Logs
*.log

# Dependency folders (if any)
node_modules/
